[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fractopo = {git = "https://github.com/nialov/fractopo"}
jupyterlab = "*"
nox = "*"
invoke = "*"

[requires]
python_version = "3.8"
